@charset "UTF-8";

* {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

body {
	max-width: 90%;
	margin: 10px auto;
	border: 1px solid #ccc;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: flex;
}

li {
	flex: 0 1 auto;
	border: none;
}

li a {
	display: block;
	padding: 14px 16px;
}

li a:hover {
	background-color: lightgray;
	color: black;
}

table tr {
	border: 1px solid #ddd;
	width: 100%;
}

table {
	width: 100%;
	border: 1px solid #ccc;
	margin: 5px auto;
}

table td, table th {
	padding: 8px;
	text-align: left;
	cursor: pointer;
}

nav {
	width: 100%;
	background-color: skyblue;
	display: inline-block;
}

header {
	background: #A5E1E3;
	color: white;
	text-align: center;
	margin-bottom: 0px;
	font-size: 15px;
	font-weight: bold;
	padding: 1em;
}

.logo {
	text-decoration: none;
}